h2 {
    text-align: center;
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

form {
    width: 60%;
    margin: 20px auto;
    border: 2px solid black;
    padding: 20px;
    border-radius: 20px;
    font-weight: bold;
}

form label, form select {
    display: block;
    width: 100%;
}

form input, form select, form select option {
    font-family: monospace;
}

form .btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

form .btn-group button {
    border-radius: 10px !important;
}

.result {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    font-family: cursive;
}

.container {
    width: 60%;
    margin-top: 50px !important;
    text-align: justify;
}

footer {
    padding: 30px 0;
    text-align: center;;
}

footer a {
    text-decoration: none;
}

footer p {
    font-size: 10px;
    font-family: monospace;

}

@media (max-width: 700px) {
    .container {
        width: 80%;
        text-align: left;
    }
    form, .result {
        width: 80%;
    }
}